[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "asteRisk"]
	path = asteRisk
	url = https://github.com/rafael-ayala/asterisk
[submodule "openSkies"]
	path = openSkies
	url = https://github.com/rafael-ayala/openskies
